{{#yield-body}}
<br/>
<div class="row" id='main_row' data-restaurant_id={{restaurant_id}} data-restaurant_name="{{restaurant_name}}">
  <div class="small-12 small-centered columns">
    <img src="images/Freshly.png" alt="" />
    <!-- Replace with the Respective Customer Logo -->
  </div>
</div>
<br/>
<div class="row">
  <div class="small-12 small-centered large-12 large-centered column">

    <ul class="tabs expanded" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a id="pnl_volume_plan" href="#panel1" aria-selected="true">Volume Plan</a></li>
      <li class="tabs-title"><a id='live_packing' href="#panel2">Packing</a></li>
      <li class="tabs-title"><a id='sales_live' href="#sales_live_panel">Sales Live</a></li>
      <li class="tabs-title"><a id="sales_summary" href="#panel4">Sales Summary</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <!-- Replace with the Respective Customer Logo -->
        <button class="button" id="btn_refresh" >Refresh</button>
        <div id="volume_plan_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tabs-panel" id="panel2">
        <!-- Replace with the Respective Customer Logo -->
         <div id="live_packing_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tabs-panel" id="sales_live_panel">
        <!-- Replace with the Respective Customer Logo -->

        <div class="expanded button-group">
          <a class="button" id="sold_taken">Sales Live</a>
          <a class="button" id="Outletwise">Outlet wise</a>
          <a class="button" id="Productwise">Product wise</a>
        </div>
        <div id="live_sales_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="tabs-panel" id="panel4">
        <!-- Replace with the Respective Customer Logo -->
        <table border='2'>
            <thead>
                <tr>
                     <th width="200">Period</th>
                     <th width="200">Sales Rs</th>
                </tr>
            </thead>
            <tbody id="sales_summary_container">
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{/yield-body}} 

{{#yield-styles}}

table {
    border-collapse: collapse !important;
}

table, th, td {
    border: 1px solid black !important;
}
 {{/yield-styles}}

 {{#yield-scripts}}

$(document).ready(function(){
    get_volume_plan_data();
});

$('#sold_taken').click(function(e){
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('get_live_sales_data',{'restaurant_id':restaurant_id}, function(sales_live) {
var total_quantity=0;
$.map(sales_live.sales_data,function(item){
total_quantity+=parseInt(item.qty);
})
var unsold=parseInt(sales_live.taken_data)-total_quantity;
var new_data={Sold:total_quantity,Unsold:unsold}
var main_array=[];
$.map(new_data,function(item,key){
var data=[];
total_quantity+=item
data.push(item)
main_array.push({name:key,data:data})
})
 
  $('#live_sales_container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sales Live'
        },
        xAxis: {
            categories: ['Food Item']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Items'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                
				dataLabels: {
                    enabled: true,
                    formatter:function() {
                    var pcnt = (this.y /total_quantity) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                },
                }
            }
        },
        series: main_array
    });
    
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText);
  });
})



$('#live_packing').click(function(e){
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('live_packing_data',{'restaurant_id':restaurant_id}, function(live_packing_data) {
var total_quantity=0;
var main_array=[];
$.map(live_packing_data,function(item,key){
var data=[];
total_quantity+=item
data.push(item)
main_array.push({name:key,data:data})
})
 
  $('#live_packing_container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Packing Status'
        },
        xAxis: {
            categories: ['Food Item']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Items'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                
				dataLabels: {
                    enabled: true,
                    formatter:function() {
                    var pcnt = (this.y /total_quantity) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                },
                }
            }
        },
        series: main_array
    });
	
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText);
  });
})

$('#sales_summary').click(function(){
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('get_sales_summary',{'restaurant_id':restaurant_id}, function(sales_summary_data) {

  var productwise_wise_sum_of_sales = _.chain(sales_summary_data)
    .groupBy("period")
    .map(function(value, key) {
        return {
            period: key,
            sale:sum(_.pluck(value, "sale"))
        }
    })
    .value();

var table_body='';
$.map(productwise_wise_sum_of_sales,function(data){
table_body+='<tr><td>'+ data.period+' </td><td style="text-align:right"> '+data.sale.toFixed(2)+' </td></tr>'
})
 $('#sales_summary_container').html(table_body)
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText);
  });
})

$('#Productwise').click(function(){
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('get_live_sales_data',{'restaurant_id':restaurant_id}, function(sales_live_data) {
  
var productwise_wise_sum_of_sales = _.chain(sales_live_data.sales_data)
    .groupBy("food_item_name")
    .map(function(value, key) {
        return {
            name: key,
            qty: sum(_.pluck(value, "qty"))
        }
    })
    .value();

var food_item_wise_outlet= _.chain(sales_live_data.sales_data)
    .groupBy("food_item_name")
    .map(function(value, key) {
    var data=[];
        _.map(value,function(x){
        var datas=[];
        datas.push(x.outlet_name)
        datas.push( parseInt(x.qty))
         data.push(datas)
        })
        return {name:key,id:key,data};
    })
    .value();

 draw_chart('live_sales_container','Product wise details',productwise_wise_sum_of_sales,food_item_wise_outlet)
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText);
  });
})

$('#Outletwise').click(function(){
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('get_live_sales_data',{'restaurant_id':restaurant_id}, function(sales_live_data) {
 
var outlet_wise_sum_of_sales = _.chain(sales_live_data.sales_data)
    .groupBy("outlet_name")
    .map(function(value, key) {
        return {
            name: key,
            qty: sum(_.pluck(value, "qty"))
        }
    })
    .value();

var outlet_wise_food_item = _.chain(sales_live_data.sales_data)
    .groupBy("outlet_name")
    .map(function(value, key) {
    var data=[];
        _.map(value,function(x){
        var datas=[];
        datas.push(x.food_item_name)
        datas.push( parseInt(x.qty))
         data.push(datas)
        })
        return {name:key,id:key,data};
    })
    .value();

 draw_chart('live_sales_container','Outlet wise details',outlet_wise_sum_of_sales,outlet_wise_food_item)
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText );
  });
})

function sum(numbers) {
    return _.reduce(numbers, function(result, current) {
        return result + parseFloat(current);
    }, 0);
}
$('#btn_refresh').click(function(){
    get_volume_plan_data();
})

function get_volume_plan_data()
{
var restaurant_id=$('#main_row').attr('data-restaurant_id')
$.get('get_volume_plan',{'restaurant_id':restaurant_id},  function(data) {
  
var sum_of_session = _.chain(data)
    .groupBy("session")
    .map(function(value, key) {
        return {
            name: key,
            qty: sum(_.pluck(value, "qty"))
        }
    })
    .value();

var session_data = _.chain(data)
    .groupBy("session")
    .map(function(value, key) {
    var data=[];
        _.map(value,function(x){
        var datas=[];
        datas.push(x.name)
        datas.push(x.qty)
         data.push(datas)
        })
        return {name:key,id:key,data};
    })
    .value();

    draw_chart('volume_plan_container','Volume plan details',sum_of_session,session_data)
})
  .fail(function(xhr,err,jquery) {
    alert( xhr.responseText);
  });
}

function draw_chart(container,title_text,sum_of_session,session_data)
{
    var sum_object_array=[];
    _.map(sum_of_session,function(data){
    var sum_object={name:data.name,y:data.qty, drilldown: data.name }
    sum_object_array.push(sum_object)
    })
 $('#'+container).highcharts({
        chart: {
            type: 'column'
        },
         title: {
            text: title_text
        },
         xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Values'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
        },
        series: [{
            colorByPoint: true,
            data: sum_object_array
        }],
        drilldown: {
            series: session_data
        }
    });
}
  
  {{/yield-scripts}}